bucket         = "REPLACE_WITH_TERRAFORM_STATE_BUCKET"
key            = "genorax-ai-backend/ecs/dev/terraform.tfstate"
region         = "us-east-1"
dynamodb_table = "REPLACE_WITH_TERRAFORM_LOCK_TABLE"
encrypt        = true
