aws_region       = "us-east-1"
project_name     = "genorax-ai-backend"
environment      = "dev"
instance_type    = "t3.micro"
key_name         = "general-ai"
allowed_ssh_cidr = "24.189.77.187/32"
allowed_api_cidr = "24.189.77.187/32"
github_repo_url  = "https://github.com/zah1203/general-ai-backend.git"
